body {
    background: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width:100%;
}

h1{
  margin: 0;
  color: rgb(81, 175, 160);
  text-align: auto;
  font-size: x-large;

}

p {
    padding: 20px;
    margin: 0;
    color: #000;
    text-align: auto;
    font-size: large;
  }

.navbar-form { 
    margin-left: 10px;
    color: white;
    padding: 15px;
    background-color: rgb(81, 175, 160);
    font-family: 'Times New Roman';
    font-size: 25px;
  }

  .navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}



.dropdown-menu {
    margin: 0;
}

  .big_img {
    max-width: 55%;
    max-height: 55%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .small_img {
    max-width:49%;
    max-height:50%;
    padding: 15px;
  }

  @media (max-width: 600px) {
    .navbar.bg-light {
      background-color: rgb(81, 175, 160);
      padding: 10px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }